[submodule "remote-monad"]
	path = remote-monad
	url = https://github.com/ku-fpg/remote-monad
[submodule "javascript-bridge"]
	path = javascript-bridge
	url = https://github.com/ku-fpg/javascript-bridge
