*.o
*.hi
dist/*
*.swp
*.swo
*~
cabal-dev
.chi
.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
examples/dist/*
notes/
tmp/
*#
blank-canvas.wiki/
.hpc/
html/
tix/
.shake.database
*tix
wiki-suite/dist
